<h2>Chapter 3</h2>
<h3>The Republic of New California</h3>
<p>You cross the border into New California and immediately are greeted by sights and sounds like you've never seeen. Flying cars, bright colors, and a cosmopolitan futuristic utopian paradise surrounds you. People here never grow old, because plastic surgery has progressed to make every human being exactly what they want to look like. It is now a human right for you to get whatever part of your body you want enlarged, tightened, or removed.</p>

<p class="negative">You die a slow death from an infection you get getting your boobs enlarged.</p>