<h2>Chapter 2</h2>

<h3>The Portlandia Treehuggers</h3>
<p>You sneak through Pioneer Square in the middle of the night and make it to King Street Station. The trees haven’t fully taken over this area. Just as you descend the stairs toward freedom you are spotted by a tree! You dash underground as its roots begin descending toward you. It grabs your left leg and you fall. This could be it, the end of the line for you. Fortunately you have a lighter from the before times when you’d take smoke breaks and you light the root on fire and escape on a rail car bound for Portland.</p>

<p>Upon arriving in Portland you meet a the woman you’ve heard about who can get you out of Cascadia. Rumor has it she has an automobile, which has long been banned in Cascadia. Upon following her to her home you find out that you’ve been betrayed. She is actually a treehugger! You should have known by her hipster clothes! You curse your luck and run and as you get to the front door you see a key on the table. You grab it and find there is in fact a car behind the house! You rev up the engine and are home free! The trees will never catch you in a car. Do you:</p>

<ul>
  <li routerLink="/chapter3a">Head south to the Futuristic Republic of New California?</li>
  <li routerLink="/chapter3b">Head west toward the Mormonese people of the desert?</li>
</ul>
