<h2>Chapter 4</h2>
<h3>Voodoo Zombies</h3>
<p>You head into Salt Lake City looking like the outsider that you are. It’s a seedy place, with back alley coffee deals going down, and people abandoning the missionary position for more sinful ones. Everyone tells you about how you must meet Heavenly Father. His law must be kept. You are kidnapped by the Mormonese and taken to the temple of Heavenly Father. He is very angry with you and banishes you from his lands.</p>

<p>You are put in a hot air balloon with no way of escaping and set adrift above the desert. You are in the sky for days with no hope or end in sight. Eventually you start to sink back toward the ground as the balloon runs out of fuel. You land in a swamp and are attacked by alligators. You are saved by a strange man who offers to teach you the power of Voodoo so you can protect yourself</p>

<p>You study voodoo and dark magic for six years with him, until you are finally ready to return to Cascadia and destroy those who opposed you. You march with an army of zombies on the tree people of Cascadia, inspiring thousands to your cause.</p>

<p class="negative">During the Battle of Rainier however, you are impaled through the heart by a Douglas Fir. You never find out who will win the war, but you're not around to find out.</p>