<h2>Chapter 4</h2>
<h3>Concrete Jungle</h3>
<p>You decide better safe than sorry so you assault a nearby mormon and steal their clothes and head into the city. You meet a young Chinietnamese Man named Brother Du. He tells you of his homeland of Kansas City before he became Mormonese. He agrees to accompany you there.</p>
<p>You make it Kansas City, but the Cascadians are there waiting for you. In an act of ultimate selflessness, Brother Du sacrifices himself so that you can escape. You board a zeppelin bound for New York</p>

<p class="positive">You arrive in New York, the melting pot of the world. You easily disappear there and live out your days as a street hot dog vendor. It's not the best life, but you never have to see a tree again!</p>