<h2>Chapter 2</h2>

<h3>Vancouver, Oak Annada</h3>

<p>You sneak to Lake Union late at night. The Sentinel Trees of Gasworks Park loom over the water always watching. You meet up with your contact and make it onto the Seaplane that will get you out of the capital. Alas, planes aren’t very inconspicuous. The trees easily see you. But... they’re trees so what can they do about it? You take off fine and make it to Vancouver, but they strangle seven nearby humans in anger and retaliation.</p>

<p>On your flight you wonder what terrible things might lie in store for you on your journey. The world is such a different place than it used to be.</p>

<p>You land in Vancouver in the province of Oak Annada. The trees have a reputation as being really friendly here, so hopefully you find luck. You head to Granville Island to meet the contact you were told about. But, oh no! You see a tree waiting for you. You turn to run in instinct but not before you hear, “wait! I’m here to help you!” The tree explains that there is a resistance of trees who believe that humans and trees can live in peace. It wants to help you escape from Cascadia because to pursue a better way of life for yourself. It tells you of a forrest network that helps humans escape from Cascadia, and you head there straight away.</p>

<p>You climb the tree you were told about, and it takes you in its branches and passes you to the next tree, and so on. You are carried east by the trees across the border to freedom! You now have to figure out where to go next. You’ve heard there’s a train the runs to Chiraq, but that could be a legend. Alaska is supposedly a safe spot. Then there are also the mysterious Mormonese Nomads. Do you:</p>

<ul>
  <li routerLink="/chapter3c">Take your chances and wait for the train to Chiraq?</li>
  <li routerLink="/chapter3b">Head southeast toward the Mormonese people of the desert?</li>
</ul>