<h2>Chapter 3</h2>
<h3>The Mormonese Lords</h3>
<p>You arrive in Salt Lake City, land of the mormon horse lords. Because of the intense heat from global climate change, everyone walks around in nothing but full body white underwear. You quickly realize you are out of place. Do you:</p>
<ul>
  <li routerLink="/chapter4a">Knock out the nearby mormon and steal his or her underwear?</li>
  <li routerLink="/chapter4b">Move into the town not worrying about looking different from everyone else?</li>
</ul>