<h2>{{title}}</h2>

<h3>Escape from Treeattle</h3>
<p>You’re fleeing from the tyrannical state of Cascadia. You remember the days when Cascadia represented hope and a new start, but now it has become an inhospitable green paradise. Sure, it’s great to be a Cascadian citizen if you’re a tree, but ever since they started giving trees voting rights, the trees have now taken over and human rights have taken a back seat. You know you have to leave, but the trees are everywhere. You must be careful in planning your escape from the capital of Treeattle. There are still a few ways out of the country from underground railroads in Vancouver and Portland that the trees haven’t detected. Do you:</p>
<ul>
<li routerLink="/chapter2a">Use the underground tunnels and go south to Portlandia?</li>

<li routerLink="/chapter2b">Make a run for it on a Seaplane and head north to Vancouver?</li>
</ul>