<h2>Chapter 3</h2>
<h3>Chiraq</h3>
<p>You know that Chiraq is one of the most dangerous places on the continent, which could play to your advantage if anyone is following you. You wait for three days and then you see it: a train! You jump on as it passes and contemplate what awaits you.</p>

<p>You arrive in Chiraq two days later and immediately look for an arms dealer. The streets are no place to be at nighttime so you also look for shelter. You find safehaven in a brothel on the south side. The next day you find work with a local drug lord.</p>

<p>In the years that follow you work your way up the crime syndicate, becoming more and more powerful. You find yourself deploying your army of criminals to Cascadia and taking it over, annexing it for Chiraq.</p>

<p class="positive">You live out the rest of your days as one of the most dangerous and powerful people in the world, ruling Chiraq with an iron fist.</p>
